@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 100%);
    color: #00ffc8;
    font-family: 'Inter';
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #00ffc8, #0d7377, #212121);
    filter: blur(150px);
    z-index: -1;
    animation: rotate 10s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.logo img {
    width: 40px;
}
.logo {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #2C2C2E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px #0004;
    margin-bottom: 30px;
}
h1 {
    font-weight: 500;
    color: #fff;
    font-size: x-large;
    margin-bottom: 10px;
}
.text-white {
    color: #fff;
}
.text-white a {
    text-decoration: none;
}
form {
    display: flex;
    margin: auto;
    margin-block: 30px;
    width: min(300px, 90vw);
    gap: 15px;
    flex-wrap: wrap;
}
form input,
form button {
    all: unset;
    padding: 10px;
    border-radius: 15px;
    background-color: #1C1C1E;
    box-shadow: 0 10px 30px #0005;
    border: 1px solid #71717188;
    transition: background-image 0.5s, opacity .5s, border .5s;

}
form * {
    width: 100%!important;
}
form input {
    color: #fff;
}
form button {
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 10px #00ffc8;
}
form button[type="submit"] {
    background-color: #fff;
    color: #1C1C1E;
}
.or {
    position: relative;
}
.or::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    left: 0;
    top: 45%;
    background-image: linear-gradient(
        to right, 
        #71717155 0 40%, transparent 40% 60%, #71717155 60%
    );
}
p a {
    border-bottom: 1px solid #717171;
}
input + p {
    font-size: small;
    text-align: left;
}
.sso {
    margin-bottom: 30px;
}
.sso + p {
    font-size: small;
}
input:invalid:not(:placeholder-shown) {
    border-color: red;
    background-image: url(checked_red.png);
}
input:valid:not(:placeholder-shown) {
    background-image: url(checked_green.png);
}
input:invalid:not(:placeholder-shown), 
input:valid:not(:placeholder-shown) {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
input:invalid:not(:placeholder-shown) + p {
    color: #a20e0e;
}
input:invalid ~ button[type="submit"] {
    opacity: .6;
    pointer-events: none;
}

input:focus {
    box-shadow: 0px 0px 10px #00ffc8;
}

input:active {
    box-shadow: 0px 0px 10px #00ffc8;
}

input:hover {
    box-shadow: 0px 0px 10px #00ffc8;
}