{% extends 'authentification/base.html' %}

{% block title %} Login {% endblock %}

{% block header %}

    <h1>Hi, welcome back!</h1>
    <p>First time here? <span class="text-white"><a href="{% url 'authentification:register' %}" class="text-white">Create an account</a></span></p>

{% endblock %}

{% block content %}

{% if messages %}

    {% for message in messages %}
    
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}

{% endif %}

<form method="POST" action="{% url 'authentification:login' %}">
    {% csrf_token %}
    <input 
    type="text" 
    name="username" 
    placeholder="Username"
    required>

    <input 
    type="password" 
    name="password" 
    placeholder="Password"
    minlength="6"
    required>
    <p>Password must be at least 6 characters</p>

    <button type="submit">Login</button>

    <p>
        You acknowledge that you read, and agree, to our <a>Terms of Service</a> and our <a>Privacy Policy</a>.
    </p>
</form>

{% endblock %}